{% extends "base.twig" %}

{% block content %}

    <div class="main-content">
        <div id="shoppingCart">
            <div class="cartHeader">
                <div class="column">
                    Image
                </div>
                <div class="column">
                    Name
                </div>
                <div class="column">
                    Size
                </div>
                <div class="column">
                    Type
                </div>
                <div class="column">
                    Price
                </div>
                <div class="column">
                    Quantity
                </div>
            </div>
        {% for print in cart %}
            <div class="cartRow">
                <div class="column">
                    <img src="img/{{ print.fullSize }}">
                </div>
                <div class="column">
                    {{ print.title }}
                </div>
                <div class="column">
                    {{ print.size[0] }}
                </div>
                <div class="column">
                    {{ print.type[0] }}
                </div>
                <div class="column">
                    {{ print.price[0]|number_format(0, ',', ' ') }} SEK
                </div>
                <div class="column">
                    <a href="index.php?ShoppingCart/decreaseAmount/{{ print.printID }}{{ print.printTypeID }}{{ print.sizeID }}">
                    <i class="fa fa-minus-square-o"></i></a>
                    {{ print.amount }}
                    <a href="index.php?ShoppingCartController/increaseAmount/{{ print.printID }}{{ print.printTypeID }}{{ print.sizeID }}">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </div>

            </div>
        {% endfor %}
            <h3>Sum: {{ sum|number_format(0, ',', ' ') }} SEK</h3>
        </div>
    </div>
{% endblock %}