{% extends "base.twig" %}

{% block content %}

    <div class="main-content">
        <h2>
            Shopping cart
        </h2>
        <div id="shoppingCart">
        {% for print in cart %}
            <div class="cartRow">
                <div class="column">
                    <img src="img/{{ print.fullSize }}">
                </div>
                <div class="column">
                   <h3>
                       <a href="index.php?PrintInfo/getPrintInfo/{{ print.printID }}">{{ print.title }}</a>
                   </h3>
                    <p>{{ print.size[0] }}</p>
                    <p>{{ print.type[0] }}</p>

                        <a href="index.php?ShoppingCart/remove/{{ print.printID }}{{ print.printTypeID }}{{ print.sizeID }}">
                            <p>Remove
                            <i class="fa fa-times"></i>
                            </p>
                        </a>

                </div>

                <div class="column">
                    {{ print.price[0]|number_format(0, ',', ' ') }} SEK
                </div>
                <div class="column">
                    <a href="index.php?ShoppingCart/decreaseAmount/{{ print.printID }}{{ print.printTypeID }}{{ print.sizeID }}">
                        <i class="fa fa-minus"></i>
                    </a>
                    {{ print.amount }}
                    <a href="index.php?ShoppingCart/increaseAmount/{{ print.printID }}{{ print.printTypeID }}{{ print.sizeID }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
            <h1>Sum: {{ sum|number_format(0, ',', ' ') }} SEK</h1>
        </div>
    </div>
{% endblock %}