{% extends "base.twig" %}

{% block content %}

    <div class="main-content">
        <h2>
            Shopping cart
        </h2>
        <!--
        Add this to enable easy removal of the session

        <p style="margin:0px;">It's getting too hot!<img src="img/ghost.png"><a href="index.php?IndexController/nuke">Paint the target</a></p>
        //-->
        <div id="shoppingCart">
        {% for print in cart.prints %}
            <div class="cartRow">
                <div class="column">
                    <img src="img/printImg/{{ print.image.fullSize }}">
                </div>
                <div class="column">
                   <h3>
                       <a href="index.php?PrintInfo/getPrintInfo/{{ print.printID }}">{{ print.title }}</a>
                   </h3>
                    <p>{{ print.size }}</p>
                    <p>{{ print.type }}</p>
                        <a href="index.php?ShoppingCart/remove/{{ print.printID }}{{ print.printTypeID }}{{ print.sizeID }}">
                            <p>Remove
                            <i class="fa fa-times"></i>
                            </p>
                        </a>
                </div>
                <div class="column">
                    {{ print.price|number_format(0, ',', ' ') }} SEK
                </div>
                <div class="column">
                    <a href="index.php?ShoppingCart/decreaseQuantity/{{ print.printID }}{{ print.typeID }}{{ print.sizeID }}">
                        <i class="fa fa-minus"></i>
                    </a>
                    {{ print.quantity }}
                    <a href="index.php?ShoppingCart/increaseQuantity/{{ print.printID }}{{ print.typeID }}{{ print.sizeID }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
            <h1>Sum: {{ cart.sum|number_format(0, ',', ' ') }} SEK</h1>
        </div>
    </div>
{% endblock %}